# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
package-lock.json
package-lock.json
.nuxt/components.d.ts
.nuxt/imports.d.ts
.nuxt/nitro.json
.nuxt/nuxt.d.ts
.nuxt/tsconfig.json
.nuxt/tsconfig.server.json
.nuxt/dev/index.mjs
.nuxt/dev/index.mjs.map
.nuxt/manifest/latest.json
.nuxt/manifest/meta/dev.json
.nuxt/types/build.d.ts
.nuxt/types/imports.d.ts
.nuxt/types/layouts.d.ts
.nuxt/types/middleware.d.ts
.nuxt/types/plugins.d.ts
.nuxt/types/schema.d.ts
